# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# PyInstaller
*.exe

# Výstupné súbory
Výplatné Pásky/

# Testovacie dočasné súbory
test_*.docx
test_*.pdf
!test_app.py

# IDE
.vscode/
.idea/